<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205054297516-otld2squ7m81khvs36t721k45oopusmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205054297516-otld2squ7m81khvs36t721k45oopusmv</string>
	<key>API_KEY</key>
	<string>AIzaSyArkWovI-Xs41Dya6hfdaqHQnfFXf0HSuo</string>
	<key>GCM_SENDER_ID</key>
	<string>205054297516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theconcert.staff-beta</string>
	<key>PROJECT_ID</key>
	<string>theconcert-staff</string>
	<key>STORAGE_BUCKET</key>
	<string>theconcert-staff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205054297516:ios:ab78dca25ff65144</string>
	<key>DATABASE_URL</key>
	<string>https://theconcert-staff.firebaseio.com</string>
</dict>
</plist>